main{
    width: 90%;
    height: 90vh;
    margin: 8rem auto;
    overflow: hidden;
}

.options{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.options li{
    border-radius: 2rem;
    margin: 2rem;
    flex: 1;
    background: linear-gradient(to bottom, orange, brown);
    box-shadow: 0px 1rem 0px 0px brown;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
}

.tall{
    height: 100%;
}

h2{
    flex: 0 0 20%;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 5px rgb(122, 21, 21);
    font-size: 3.5rem;
    font-weight: 200;
    font-family: "alphabet-soup-pro", sans-serif;
}

a.quote{
    flex: 0 0 6%;
    margin-bottom: 0rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    box-sizing: content-box;
    padding: 1rem 7rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 4px 4px 2px rgba(37, 13, 2, 0.534);
    background-color: brown;
    font-size: 1.5rem;
    text-decoration: none;
}

a.quote:hover{
    background-color: white;
    color: black;
}

p{
    flex: 0 0 60%;
    align-self: center;
    justify-self: center;
    margin: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}

.shadow{
    display: block;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 35.5vh;
    background-color: brown;
    z-index: 2;
}

.highlight{
    display: block;
    position: absolute;
    top: 0vh;
    width: 150%;
    height: 11.5rem;
    background: linear-gradient(to bottom, rgb(255, 197, 37),rgba(238, 141, 5, 0));
    z-index: 5;
}

.circles{
    background: radial-gradient(circle at top left,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%),radial-gradient(circle, transparent 25%, #715050  26%),linear-gradient(45deg, transparent 46%, #7a2020 47%, #7a2020 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #7a2020 47%, #7a2020 52%, transparent 53%);
    background-size: 5em 5em;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.359) , transparent 100%);
    height: 95vh;
    width: 100%;
    background-color: #6c4f4f;
    opacity: 1;
    z-index:2;
    position: absolute;
    transform: translateX(1.5rem);
}
@media screen and (max-width: 60rem){

    main{
        height: fit-content;
        width: 90%;
        margin-top: 3rem;
    }
    .options{
        flex-direction: column;
    }
    h2{
        font-size: 3rem;
    }

    .options li{
        margin-left: 0;
        margin-right: 0;
    }
    .shadow{
        display: none;
    }
}