main{
    width: 80vw;
    margin: 10rem auto;
    display: flex;
    flex: 0 0 20vw;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

main img{
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.397);
    height: 25rem;
    width: auto;
}

@media screen and (max-width: 60rem){
    main{
        width: 90vw;
        margin: 5rem auto;
        flex: 0 0 90vw;
        gap: 2rem;
    }

    main img{
        width: 75vw;
        height: auto;
    }
}