
header{
    height: 95vh;
    width: 100%;
    background: linear-gradient(rgb(244, 134, 9), #bc5903);
    overflow: hidden;
    grid-template-columns: 50% 50%;
    display: grid;
}

.home-overlay{
    height: 55vh;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to right, rgba(255, 179, 0, 0.974)0%, transparent 40%);
}

.standing{
    grid-column: 1;
    height: clamp(2rem, 100vh, 120%);
    margin-top: 2rem;
    margin-left: 8rem;
}

.title{
    color: white;
    grid-column: 2;
    margin-top: 20vh;
    line-height: 0.9;
}

.buttons{
    position: absolute;
    top: 56vh;
    left: 50%;
}

.buttons a, .buttons-mobile a{
    margin-top: 1rem;
    margin: 0.4rem;
}

.title h2{
    line-height: 1.5;
}

.buttons-mobile a{
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 5px black;
}
.raffle{
    display: block;
    box-sizing: content-box;
    text-align: center;
    width: calc(100% - 4rem);
    background: linear-gradient(25deg, rgb(236, 151, 22),  rgb(236, 151, 22));
    border: 3px solid white;
    color:rgb(255, 255, 255);
    text-shadow: 2px 1px 2px rgba(85, 36, 10, 0.664);
}

.raffle:hover{
    background: none;
    background-color: white;
    text-shadow: none;
}

.paw{
    opacity: 0.1;
    position: absolute;
    width: 50vw;
    /* transform: translate(50vw, 50%); */
    display: none;
}

.circles{
    background: radial-gradient(circle at top left,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #7a2020 10% ,#7a2020 15% , transparent 16%),radial-gradient(circle, transparent 25%, #715050  26%),linear-gradient(45deg, transparent 46%, #7a2020 47%, #7a2020 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #7a2020 47%, #7a2020 52%, transparent 53%);
    background-size: 5em 5em;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.359) , transparent 100%);
    height: 95vh;
    width: 100%;
    background-color: #6c4f4f;
    opacity: 1;
    z-index:2;
    position: absolute;
}

main img{
    grid-column: 1;
    width: 60%;
    margin: 2rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.692);
}

main{
    width: 60%;
    height: 50vh;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.trello-block{
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

strong{
    font-weight: 700;
    font-size: larger;
    padding: 1rem;
}
.intro{
    grid-column: 2;
    width: 100%;
    box-sizing: content-box;
    padding: 1rem;
}

.intro p{
    margin-top: 1rem;
}

.shadow{
    display: block;
    position: absolute;
    top: 55vh;
    width: 100%;
    height: 10.5rem;
    background: linear-gradient(to left, rgba(139, 21, 21, 0.616), transparent);
    z-index: 2;
}

.trello{
    width: 10rem;
    text-align: center;
}

.buttons-mobile{
    display: none;
}

.trello a{}

@media screen and (max-width: 60rem){
    header{
        grid-template-columns: 100%;
        height: 75vh;
        position: relative;
    }

    .standing{
        grid-column: 1;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .title{
        grid-column: 1;
        justify-self: center;
        position: absolute;
        top: 58vh;
        z-index: 6;
        margin-top: 0;
    }

    footer{
        display: none;
    }

    .shadow{
        background: linear-gradient(to left, rgba(74, 8, 8, 0.873), transparent);
        display: block;
        z-index: 5;
        height: 30rem;
    }

    .buttons{
        display: none;
    }

    .buttons-mobile{
        display: flex;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
        width: 85%;
        gap: 1rem;
        height: fit-content;
    }

    main img{
        grid-row: 1;
        grid-column: 1;
        height: 100%;
        width: auto;
        object-fit: contain;
    }
    .intro{
        padding: 0;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
    }
